<p>
  building works!
</p>
<!-- <button (click)='sendFarmGold()'>{{core.farmName}}!</button>
<button (click)='sendCaveGold()'>{{core.caveName}}!</button> -->
<button (click)='sendFarmGold(core)'>{{core.farmName}}!</button>
<button (click)='sendCaveGold(core)'>{{core.caveName}}!</button>
<button (click)='sendCasinoGold(core)'>{{core.casinoName}}!</button>
<button (click)='sendHouseGold(core)'>{{core.houseName}}!</button>


<!-- <button (click)='sendBuilding(core.farmName)'>{{core.farmName}}!</button> -->

