<p>
  building works!
</p>
<!-- <button (click)='sendFarmGold()'>{{core.farmName}}!</button>
<button (click)='sendCaveGold()'>{{core.caveName}}!</button> -->
<!-- <button (click)='sendFarmGold(core)'>{{core.farmName}}!</button>
<button (click)='sendCaveGold(core)'>{{core.caveName}}!</button>
<button (click)='sendCasinoGold(core)'>{{core.casinoName}}!</button>
<button (click)='sendHouseGold(core)'>{{core.houseName}}!</button>
<br> -->

<button (click)='sendData(core.farmName)'>{{core.farmName}}!</button>
<button (click)='sendData(core.caveName)'>{{core.caveName}}!</button>
<button (click)='sendData(core.casinoName)'>{{core.casinoName}}!</button>
<button (click)='sendData(core.houseName)'>{{core.houseName}}!</button>
